*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--montserrat);
}

html{
    scroll-behavior: smooth;
}

:root{
    --rosa: #f17ea1;
    --amareloC: #ebc60d;
    --azul: #1b8df0;
    --roxo: #723172;
    --cinza: #dddddd;
    --cinzaC:#f0f0f0;
    --branco: #fff;
    --preto: #000;
    --montserrat: 'Montserrat', 'sans-serif'
}

body{
    background-color: var(--cinza);
}

header{
    background-color: var(--rosa);
    background-repeat: no-repeat;
    background-size: contain;

    height: 90px;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 40px;

    box-shadow: 0px 14px 31px 0px var(--preto);
    z-index: 2;
}

span{
    color: var(--branco);
}

h1{
    color: var(--preto)
}

.link{
    transition: all ease 0.2s;
    color: var(--branco);
    text-decoration: none;
}

header>div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    color: var(--preto);
}

/* padrões */

.btn{
    transition: ease all 0.2s;
    padding: 10px 15px;
    border: var(--branco) solid 1px;
    border-radius: 10px;
    color: var(--branco);
    font-weight: 500;
    text-decoration: none;
    font-size: smaller;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--roxo);
    color: var(--branco);
    border: var(--rosa) solid 1px;
}


header>div>.btn{
    margin-left: 15px;
}

.btn{
    transition: ease all 0.2s;
    padding: 10px 15px;
    border: var(--branco) solid 1px;
    border-radius: 10px;
    color: var(--branco);
    font-weight: 500;
    text-decoration: none;
    font-size: smaller;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--roxo);
    color: var(--branco);
    border: var(--roxo) solid 1px;
}

.btn:active{
    background-color: var(--roxo);
}


.link{
    transition: all ease 0.2s;
    color: var(--branco);
    text-decoration: none;
}

.link:hover{
    color: var(--azul);
}


#caixinhas-form .input{
    display: block;
    width: 100%;
    padding: 12px 15px 12px 20px;
    border-radius: 12px;
    outline: solid 1px var(--azul);
    border: none;
}

#caixinhas-form{
    width: 100%;
}

#caixinha-textarea .textarea{
    padding: 15px 20px;
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 12px;
    outline: solid 1px var(--azul);
    border: none;
}

#caixinha-textarea{
    width: 100%;
}

/* MAIN */

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 130px 0 30px 0;
    margin: 0 60px;
    align-items: center;
}

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
}

#contact-form h3{
    margin-bottom: 20px;
}

.icones{
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.localização{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 300px;
}

